.wrapper {
    background-color: #ebebeb;
    max-width: 640px;
    padding: 10px;
}

.contentWrapper{
    padding-bottom: 65px;
}

header h4 {
    margin: 0px;
    color: #46bf18;
}

header .hint {
    margin-top: 5px;
    margin-bottom: 5px;
    padding: 4px;
    border: 1px solid #46bf18;
    border-radius: 5px;
}

ul.userList {
    padding: 5px;
    margin: 0px;
}

ul.userList li {
    width: 44px;
    display: inline-block;
    text-align: center;
    padding: 0px;
    margin: 0px 12px 12px 0px;
    border: 1px solid white;
}

ul.userList li.selected {
    border: 1px solid green;
}

ul.userList li.me {
    position: relative;
}

ul.userList li.me:after {
    content: "我";
    background-color: green;
    width: 16px;
    height: 16px;
    border-radius: 8px;
    color: white;
    position: absolute;
    top: -8px;
    right: -8px;
    font-size: 12px;
    transition: all 3s;
}

ul.userList img {
    width: 44px;
    height: 44px;
    vertical-align: top;
}

ul.userList li span {
    display: block;
    width: 44px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    margin-top: 4px;
    font-size: 12px;
}

ul.userList .btnShowAdd {
    vertical-align: top;
    padding: 2px;
}

.dialog input[type="text"] {
    border: 1px solid green;
    height: 1.5rem;
    width: 100%;
}

#btnReset {
    margin-top: 5px;
}

.dialog td img.selectedPhoto {
    max-height: 38px;
    border: none;
}

.dialog td:first-child {
    text-align: right;
    padding-right: 10px;
    white-space: nowrap;
}

.dialog td:nth-child(n+2) {
    text-align: left;
}

.dialog .file input {
    position: absolute; /*非常非常关键*/
    right: 0px;
    top: 0px;
    opacity: 0;
    /*font-size: 100px;*/
}

.dialog .file {
    position: relative; /*非常非常关键*/
    display: inline-block;
    background-color: #d0eeff;
    color: #99d3f5;
    border: 1px solid #99d3f5;
    border-radius: 4px;
    padding: 4px 12px;
    line-height: 20px;
    text-decoration: none;
    text-indent: 0;
    overflow: hidden;
    /*-webkit-appearance: button;*/
    /*-moz-appearance: button;*/
    /*appearance: button;*/
}

/*.dialog .file:hover {*/
/*background: #aadffd;*/
/*border-color: #78c3f3;*/
/*color: #004974;*/
/*text-decoration: none;*/
/*}*/

.dialog #btnCancel {
    margin-left: 5px;
}

.fade-transition {
    transition: all .5s;
    background-color: whitesmoke;
    border: solid 1px #46bf18;
    border-radius: 5px;
    z-index: 1000;
    position: fixed;
    padding: 15px;
    width: 80%;
    max-width: 600px;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

.fade-enter, .fade-leave {
    height: 0;
    padding: 0 10px;
    opacity: 0;
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0px;
    width: 100%;
    max-width: 640px;
    height: 60px;
    z-index: 999;
    text-align: center;
    background-color: white;
}

.footer #btnStartChat {
    width: 80%;
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}